<div class="contanier-fluid">
    <video autoplay muted loop style="width: 100%; height: 100%; padding: 0; margin: 0; display: block;">
        <source src="assets/videos/video3lite.mp4" type="video/mp4">
    </video>
    <div class="container-fluid" style="padding: 0 0 0 5rem;">
        <div class="row row-cols-2 px-0 mx-0">

            <!-- PROYECTO LAGUNA -->
            <div class="col p-0 tarjeta-imagen pointer" [routerLink]="'proyecto-laguna'">
                <div class="tarjeta-imagen-filtro">
                    <div class="tarjeta-imagen-titulo">PROYECTO LAGUNA</div>
                </div>
                <img class="img-fluid" src="assets/images/Laguna/1.jpeg" alt="">
            </div>
            <div class="col p-5 tarjeta-textos pointer" [routerLink]="'proyecto-laguna'">
                <h4>PROYECTO LAGUNA</h4>
                <p style="overflow-wrap: break-word;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates magnam reprehenderit odit? 
                    Sequi iste nesciunt dolorum error vitae dolore veniam est in beatae maiores, reiciendis asperiores, quod facere ratione repellat!</p>
                <span>view more <i></i></span>
            </div>
            <!-- FIN PROYECTO LAGUNA -->

            <!-- PROYECTO PADRE ARIETA -->
            <div class="col p-5 tarjeta-textos pointer" [routerLink]="'proyecto-padre-arieta'">
                <h4>PROYECTO PADRE ARIETA</h4>
                <p style="overflow-wrap: break-word;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates magnam reprehenderit odit? 
                    Sequi iste nesciunt dolorum error vitae dolore veniam est in beatae maiores, reiciendis asperiores, quod facere ratione repellat!</p>
                    <span>view more <i></i></span>
            </div>
            <div class="col p-0 tarjeta-imagen pointer" [routerLink]="'proyecto-padre-arieta'">
                <div class="tarjeta-imagen-filtro">
                    <div class="tarjeta-imagen-titulo">PROYECTO PADRE ARIETA</div>
                </div>
                <img class="img-fluid" src="assets/images/Padre Arieta/1.jpeg" alt="" height="32rem">
            </div>
            <!-- FIN PROYECTO PADRE ARIETA -->

            <!-- PROYECTO JUJUY -->
            <div class="col p-0 tarjeta-imagen pointer" [routerLink]="'proyecto-jujuy'">
                <div class="tarjeta-imagen-filtro">
                    <div class="tarjeta-imagen-titulo">PROYECTO JUJUY</div>
                </div>
                <div class="container p-0 m-0 h-100">
                    <div class="row m-0 p-0 h-100">
                        <div class="col-6 p-0 h-100">
                            <img class="img-fluid" src="assets/images/Jujuy/3.jpeg" alt="" style="min-height: 100%;">
                        </div>
                        <div class="col-6 p-0 h-100">
                            <img class="img-fluid" src="assets/images/Jujuy/2.jpeg" alt="" style="min-height: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col p-5 tarjeta-textos pointer" [routerLink]="'proyecto-jujuy'">
                <h4>PROYECTO JUJUY</h4>
                <p style="overflow-wrap: break-word;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates magnam reprehenderit odit? 
                    Sequi iste nesciunt dolorum error vitae dolore veniam est in beatae maiores, reiciendis asperiores, quod facere ratione repellat!</p>
                <span>view more <i></i></span>
            </div>
            <!-- FIN PROYECTO JUJUY -->
            
            <!-- PROYECTO ARIETA -->
            <div class="col p-5 tarjeta-textos pointer" [routerLink]="'proyecto-arieta'">
                <h4>PROYECTO ARIETA</h4>
                <p style="overflow-wrap: break-word;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates magnam reprehenderit odit? 
                    Sequi iste nesciunt dolorum error vitae dolore veniam est in beatae maiores, reiciendis asperiores, quod facere ratione repellat!</p>
                <span>view more <i></i></span>
            </div>
            <div class="col p-0 tarjeta-imagen pointer" [routerLink]="'proyecto-arieta'">
                <div class="tarjeta-imagen-filtro">
                    <div class="tarjeta-imagen-titulo">PROYECTO ARIETA</div>
                </div>
                <div class="container p-0 m-0 h-100">
                    <div class="row m-0 p-0 h-100">
                        <div class="col-6 p-0 h-100">
                            <img class="img-fluid" src="assets/images/Arieta/2.jpeg" alt="" style="min-height: 100%;">
                        </div>
                        <div class="col-6 p-0 h-100">
                            <img class="img-fluid" src="assets/images/Arieta/4.jpeg" alt="" style="min-height: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN PROYECTO ARIETA -->

            <!-- PROYECTO TERRAVISTA -->
            <div class="col p-0 tarjeta-imagen pointer" [routerLink]="'proyecto-terravista'">
                <div class="tarjeta-imagen-filtro">
                    <div class="tarjeta-imagen-titulo">PROYECTO TERRAVISTA</div>
                </div>
                <img class="img-fluid" src="assets/images/Terravista/1.jpeg" alt="">
            </div>
            <div class="col p-5 tarjeta-textos pointer" [routerLink]="'proyecto-terravista'">
                <h4>PROYECTO TERRAVISTA</h4>
                <p style="overflow-wrap: break-word;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates magnam reprehenderit odit? 
                    Sequi iste nesciunt dolorum error vitae dolore veniam est in beatae maiores, reiciendis asperiores, quod facere ratione repellat!</p>
                <span>view more <i></i></span>
            </div>
            <!-- FIN PROYECTO TERRAVISTA -->

        </div>
    </div>
</div>

