
<!-- PROYECTO JUJUY -->
<div class="contanier-fluid">
    <div class="col" style="padding-top: 80px; padding-left: 80px;">
        <img class="img-fluid" src="assets/images/Jujuy/2-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Jujuy/1-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Jujuy/5-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Jujuy/6-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Jujuy/7-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Jujuy/8-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Jujuy/9-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Jujuy/11-lg.png" alt="">
        <div class="container-fluid">
            <div class="row">
                <div class="col px-0">
                    <img class="img-fluid" src="assets/images/Jujuy/3-lg.png" alt="">
                </div>
                <div class="col px-0">
                    <img class="img-fluid" src="assets/images/Jujuy/4-lg.png" alt="">
                </div>
            </div>
            <div class="row" s>
                <div class="col px-0">
                    <img class="img-fluid w-100" src="assets/images/Jujuy/13-lg.png" alt="">
                </div>
                <div class="col px-0">
                    <img class="img-fluid w-100" src="assets/images/Jujuy/14-lg.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col px-0">
                    <img class="img-fluid w-100" src="assets/images/Jujuy/12-lg.png" alt="">
                </div>
                <div class="col px-0">
                    <img class="img-fluid w-100" src="assets/images/Jujuy/10-lg.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
