<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-0" style="background-color: black;">
  <div class="container-fluid p-0">
    <!-- Boton que despliega un menu cuando la pantalla es pequeña -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto pe-5">
        <li class="nav-item">
          <img src="assets/images/logo.jpg" alt="Logo" height="80" style="padding: 10px 0px 10px 0;">
        </li>
      </ul>
    </div>
  </div>
</nav>

  