    
<!-- <div style="background-color: black; width: 80px; height: 100vh; position: fixed;"></div> -->

<nav class="sidebar">
    <ul class="sidebar-ul">
        <li class="sidebar-item">
            <a class="sidebar-link" href="">
                <div class="sidebar-icon">
                    <i class="fas fa-home"></i>
                </div>
                <span class="link-text">Nuestros trabajos</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" href="">
                <div class="sidebar-icon">
                    <i class="fas fa-users"></i>
                </div>
                <span class="link-text">Nosotros</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a class="sidebar-link" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/jic.arq/">
                <div class="sidebar-icon">
                    <i class="fab fa-instagram"></i>
                </div>
                <span class="link-text">Redes sociales</span>
            </a>
        </li>
    </ul>
</nav>
