
<!-- PROYECTO ARIETA -->
<div class="contanier-fluid">
    <div class="col" style="padding-top: 80px; padding-left: 80px;">
        <div class="row">
            <div class="col p-0">
                <img class="img-fluid" src="assets/images/Arieta/1-lg.png" alt="">
            </div>
            <div class="col p-0">
                <img class="img-fluid" src="assets/images/Arieta/2-lg.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col p-0">
                <img class="img-fluid w-100" src="assets/images/Arieta/3-lg.jpg" alt="">
            </div>
            <div class="col p-0">
                <img class="img-fluid w-100" src="assets/images/Arieta/4-lg.jpg" alt="">
            </div>
        </div>
    </div>
</div>
