
<!-- PROYECTO TERRAVISTA -->
<div class="contanier-fluid">
    <div class="col" style="padding-top: 80px; padding-left: 80px;">
        <img class="img-fluid" src="assets/images/Terravista/1-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Terravista/2-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Terravista/3-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Terravista/4-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Terravista/5-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Terravista/6-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Terravista/7-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Terravista/8-lg.png" alt="">
        <img class="img-fluid" src="assets/images/Terravista/9-lg.png" alt="">
    </div>
</div>
