
<div class="footer">
    <!-- MAPAS DE UBICACION -->
    <div class="container-fluid" style="padding: 0 0 0 5rem; overflow-x: hidden;">
        <div class="row">
            <div class="col align-self-end text-center">
                <p class="mb-0">
                    © JIC ARQUITECTOS 2021  |  Todos los derechos reservados
                </p>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col p-0">
                        <iframe src="https://maps.google.com/maps?q=av.%20presidente%20peron%209453&t=&z=13&ie=UTF8&iwloc=&output=embed" style='height: 100%; width: 100%;'></iframe>
                    </div>
                    <div class="col px-4">
                        <ul class="list-unstyled">
                            <li>Av. Presidente Perón 9453</li>
                            <li>Ituzaingó</li>
                            <li>Prov. de Buenos Aires</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>