
.footer {
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
    /* bottom: 0; */
    /* width: 100%; */
    background-color: #181818;
    color: white;
    text-align: left;
}
